.parentHome {
    width: 100%;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.sidemenu {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 400px;
    padding: 10px;
    background-color: #fff;
    overflow-y: auto;
}

.closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
